
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 37.5rem;
}.iphone-11-pro-x-13-qPD {
  box-sizing: border-box;
  background-color: #f7fbff;
  padding: 2.1rem 2rem 11rem 2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;

  .auto-group-z2cx-AZu {
    margin: 0rem 1rem 1.7rem 10.7rem;
    width: calc(100% - 11.7rem);
    height: 6.3rem;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;

    .auto-group-3wnb-pH5 {
      margin-right: 5.9rem;
      width: 12.8rem;
      height: 100%;
      position: relative;
      flex-shrink: 0;

      .silver-oak-food-park-9KM {
        position: absolute;
        left: 0;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.3025;
        letter-spacing: -0.072rem;
        font-family: DM Sans, 'Source Sans Pro';
        width: 12.8rem;
        height: 6.3rem;
        top: 0;
        color: #360000;
      }
      .silver-oak-food-park-D4K {
        width: 12.8rem;
        height: 6.3rem;
        position: absolute;
        font-size: 2.4rem;
        line-height: 1.3025;
        left: 0;
        top: 0;
        font-weight: 700;
        letter-spacing: -0.072rem;
        color: #360000;
        font-family: DM Sans, 'Source Sans Pro';
      }
      .silver-oak-food-park-7vP {
        left: 0;
        top: 0;
        line-height: 1.3025;
        letter-spacing: -0.072rem;
        color: #360000;
        width: 12.8rem;
        height: 6.3rem;
        position: absolute;
        font-size: 2.4rem;
        font-weight: 700;
        font-family: DM Sans, 'Source Sans Pro';
      }
    }
    .skip-EEK {
      color: #fa5a1e;
      white-space: nowrap;
      flex-shrink: 0;
      text-align: right;
      font-size: 1.6rem;
      line-height: 1.5;
      font-family: Sk-Modernist, 'Source Sans Pro';
      margin-top: 0.9rem;
      font-weight: 700;
      letter-spacing: -0.016rem;
    }
  }
  .choose-from-a-wide-range-of-delicious-meals-XUK {
    margin: 0rem 0.1rem 4.5rem 0rem;
    letter-spacing: -0.072rem;
    font-family: DM Sans, 'Source Sans Pro';
    color: #1b1b1b;
    flex-shrink: 0;
    max-width: 28.8rem;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.3025;
  }
  .group-389-Q2K {
    margin: 0rem 0rem 4.5rem 0rem;
    width: calc(100% - 0rem);
    height: 26.7165rem;
    position: relative;
    flex-shrink: 0;

    .ellipse-5-7hR {
      width: 8.9751rem;
      height: 8.8707rem;
      position: absolute;
      left: 0;
      top: 0;
      object-fit: contain;
      vertical-align: top;
    }
    .ellipse-12-3b5 {
      height: 17.2rem;
      position: absolute;
      filter: blur(4rem);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 8.6rem;
      width: 17.2rem;
      left: 7.9rem;
      top: 9.2rem;
      background-image: url('REPLACE_IMAGE:8df66b9593515c3039360095ce217f12f7d99261');
    }
    .ellipse-6-jTu {
      height: 17.0109rem;
      position: absolute;
      left: 7.9315rem;
      top: 6.9922rem;
      object-fit: contain;
      vertical-align: top;
      width: 17.1153rem;
    }
    .ellipse-7-4WB {
      background-repeat: no-repeat;
      background-image: url('REPLACE_IMAGE:7c5a38b687cdf12ebd68a45a20f47f8afa72afeb');
      width: 7.8271rem;
      height: 7.8271rem;
      left: 23.8988rem;
      top: 0.5218rem;
      background-size: 100% 100%;
      position: absolute;
      background-color: #c4c4c4;
      background-position: center;
      border-radius: 3.9136rem;
    }
    .ellipse-8-xLf {
      height: 5.2181rem;
      top: 15.8629rem;
      background-color: #c4c4c4;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:ad1e405ada7f21b9ea65a85ffc662c8dabdf9700');
      width: 5.2181rem;
      left: 2.1916rem;
      border-radius: 2.609rem;
      position: absolute;
    }
    .ellipse-10-Gs9 {
      left: 13.3583rem;
      top: 0.9392rem;
      object-fit: contain;
      vertical-align: top;
      width: 4.0701rem;
      height: 4.1745rem;
      position: absolute;
    }
    .ellipse-11-QTZ {
      left: 7.4097rem;
      top: 24.0031rem;
      background-position: center;
      width: 2.7134rem;
      height: 2.7134rem;
      background-repeat: no-repeat;
      background-image: url('REPLACE_IMAGE:7f2fc51ab7e276b046aa7778a36f64122365f754');
      border-radius: 1.3567rem;
      position: absolute;
      background-size: 100% 100%;
    }
    .ellipse-9-uQK {
      width: 6.7835rem;
      left: 26.7165rem;
      top: 16.3847rem;
      background-position: center;
      background-image: url('REPLACE_IMAGE:c01a17b907d88f294f383dd96f307e6436c2f55e');
      height: 6.7835rem;
      position: absolute;
      background-color: #c4c4c4;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      border-radius: 3.3917rem;
    }
  }
  .group-2-DR1 {
    margin: 0rem 0rem 4.783rem 0.1rem;
    width: 4.8rem;
    height: 0.8rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
  }
  .group-458-93m {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    flex-shrink: 0;

    .button-hLB {
      box-shadow: 0 1rem 3rem rgba(201, 66, 16, 0.1000000015);
      background: linear-gradient(108.73deg, #f9871f 23.73%, #ff774c 79.34%);
      line-height: 1.523000036;
      letter-spacing: -0.014rem;
      color: #ffffff;
      display: flex;
      align-items: center;
      margin-bottom: 2rem;
      width: 100%;
      height: 5.1rem;
      text-align: center;
      font-size: 1.4rem;
      border-radius: 2rem;
      font-weight: 700;
      font-family: Sk-Modernist, 'Source Sans Pro';
      white-space: nowrap;
      justify-content: center;
      flex-shrink: 0;
    }
    .button-W2j {
      flex-shrink: 0;
      text-align: center;
      line-height: 1.5;
      align-items: center;
      border-radius: 2rem;
      white-space: nowrap;
      box-shadow: 0 1rem 3rem rgba(201, 66, 16, 0.1000000015);
      display: flex;
      width: 100%;
      font-size: 1.6rem;
      font-weight: 700;
      font-family: Sk-Modernist, 'Source Sans Pro';
      height: 5.4rem;
      letter-spacing: -0.016rem;
      color: #fe554a;
      justify-content: center;
    }
  }
}
