
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 37.5rem;
}.iphone-11-pro-x-27-C5m {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f8fbff;

  .auto-group-rbuq-Kw5 {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 5rem 2rem 21.5rem 2rem;
    width: 100%;
    height: 99.6rem;
    align-items: center;
    display: flex;
    flex-direction: column;

    .vector-36-rAK {
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 31.3rem 1.4rem 0rem;
      width: 1rem;
      height: 1.8rem;
      object-fit: contain;
    }
    .auto-group-z79h-Tfu {
      margin: 0rem 10.6rem 5.3rem 10.1rem;
      width: calc(100% - 20.7rem);
      height: 6.3rem;
      position: relative;
      flex-shrink: 0;

      .silver-oak-food-park-b1R {
        line-height: 1.3025;
        width: 12.8rem;
        height: 6.3rem;
        position: absolute;
        font-weight: 700;
        letter-spacing: -0.072rem;
        color: #360000;
        font-family: DM Sans, 'Source Sans Pro';
        left: 0;
        top: 0;
        font-size: 2.4rem;
      }
      .silver-oak-food-park-Huq {
        height: 6.3rem;
        position: absolute;
        left: 0;
        top: 0;
        font-size: 2.4rem;
        letter-spacing: -0.072rem;
        font-family: DM Sans, 'Source Sans Pro';
        width: 12.8rem;
        font-weight: 700;
        line-height: 1.3025;
        color: #360000;
      }
      .silver-oak-food-park-QUf {
        width: 12.8rem;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.3025;
        font-family: DM Sans, 'Source Sans Pro';
        height: 6.3rem;
        position: absolute;
        left: 0;
        top: 0;
        letter-spacing: -0.072rem;
        color: #360000;
      }
    }
    .group-457-66b {
      margin-bottom: 2.45rem;
      width: 18.5rem;
      height: 16.5rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .your-order-has-been-successfully-placed-DS7 {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2.4rem;
      line-height: 1.3025;
      font-family: DM Sans, 'Source Sans Pro';
      margin: 0rem 0rem 1.45rem 0.1rem;
      max-width: 22.1rem;
      font-weight: 700;
      letter-spacing: -0.072rem;
      color: #3c3c3c;
      flex-shrink: 0;
    }
    .sit-and-relax-while-your-orders-is-being-worked-on-itll-take-5min-before-you-get-it-WAK {
      display: flex;
      font-size: 1.5rem;
      letter-spacing: -0.015rem;
      color: #3c3c3c;
      font-family: DM Sans, 'Source Sans Pro';
      margin: 0rem 0rem 21.9rem 0.1rem;
      max-width: 28.6rem;
      align-items: center;
      justify-content: center;
      font-weight: 400;
      line-height: 1.5229999542;
      flex-shrink: 0;
    }
    .button-9yy {
      border-radius: 2rem;
      width: 100%;
      letter-spacing: -0.014rem;
      display: flex;
      box-shadow: 0 1rem 3rem rgba(201, 66, 16, 0.1000000015);
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
      font-weight: 700;
      font-family: Sk-Modernist, 'Source Sans Pro';
      justify-content: center;
      align-items: center;
      background: linear-gradient(108.73deg, #f9871f 23.73%, #ff774c 79.34%);
      height: 5.1rem;
      font-size: 1.4rem;
      line-height: 1.523000036;
      color: #ffffff;
    }
  }
  .group-389-zjh {
    padding: 1.695rem 2rem 1.151rem 2.1rem;
    flex-direction: column;
    background-color: #eeeeee;
    margin-bottom: 2rem;
    box-sizing: border-box;
    width: 100%;
    height: 25rem;
    align-items: center;
    display: flex;
    flex-shrink: 0;

    .rectangle-158-7ZR {
      flex-shrink: 0;
      margin-bottom: 0.8474rem;
      width: 33.4rem;
      height: 16.9492rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 3rem;
    }
    .auto-group-njsy-2Ab {
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 0.55rem 0rem 0.4rem;
      width: calc(100% - 0.95rem);
      height: 4.3576rem;
      display: flex;

      .group-388-YPq {
        margin-right: 11.1rem;
        width: 14.35rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .conference-room-VZy {
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.5229999754;
          font-family: DM Sans, 'Source Sans Pro';
          position: absolute;
          left: 0.05rem;
          top: 0;
          letter-spacing: -0.036rem;
          color: #1b1b1b;
          white-space: nowrap;
          width: 14.3rem;
          height: 2.8rem;
          text-align: center;
        }
        .night-QS3 {
          height: 1.9rem;
          left: 0;
          font-size: 1.2rem;
          font-weight: 500;
          color: #f03f6a;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          width: 3rem;
          position: absolute;
          top: 2.4576rem;
          text-align: center;
          line-height: 1.5230000814;
          letter-spacing: -0.024rem;
        }
      }
      .n77000-u7u {
        font-family: DM Sans, 'Source Sans Pro';
        flex-shrink: 0;
        margin-bottom: 0.0321rem;
        letter-spacing: -0.036rem;
        color: #0b735f;
        line-height: 1.5229999754;
        white-space: nowrap;
        text-align: center;
        font-size: 1.8rem;
        font-weight: 500;
      }
    }
  }
  .group-389-NnB {
    align-items: center;
    flex-shrink: 0;
    margin-bottom: 2rem;
    box-sizing: border-box;
    width: 100%;
    flex-direction: column;
    background-color: #eeeeee;
    padding: 1.695rem 2rem 1.151rem 2.1rem;
    height: 25rem;
    display: flex;

    .rectangle-158-hZZ {
      object-fit: cover;
      vertical-align: top;
      border-radius: 3rem;
      flex-shrink: 0;
      margin-bottom: 0.8474rem;
      width: 33.4rem;
      height: 16.9492rem;
    }
    .auto-group-mkzs-E3h {
      margin: 0rem 0.3rem 0rem 0.4rem;
      width: calc(100% - 0.7rem);
      height: 4.3576rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .group-388-Z5y {
        margin-right: 13.4rem;
        width: 11.9rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .serviced-room-ggP {
          color: #1b1b1b;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          height: 2.8rem;
          position: absolute;
          line-height: 1.5229999754;
          font-size: 1.8rem;
          font-weight: 500;
          letter-spacing: -0.036rem;
          width: 11.9rem;
          left: 0;
          top: 0;
        }
        .night-kgF {
          position: absolute;
          left: 0;
          top: 2.4576rem;
          text-align: center;
          font-size: 1.2rem;
          font-weight: 500;
          letter-spacing: -0.024rem;
          color: #f03f6a;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          width: 3rem;
          height: 1.9rem;
          line-height: 1.5230000814;
        }
      }
      .n55000-TqZ {
        font-family: DM Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.0321rem;
        text-align: right;
        color: #0b735f;
        letter-spacing: -0.036rem;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.5229999754;
      }
    }
  }
  .group-389-mrF {
    width: 100%;
    padding: 1.695rem 2rem 1.151rem 2.1rem;
    height: 25rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #eeeeee;
    flex-shrink: 0;
    box-sizing: border-box;

    .rectangle-158-hE7 {
      flex-shrink: 0;
      margin-bottom: 0.8559rem;
      width: 33.4rem;
      height: 16.9492rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 3rem;
    }
    .auto-group-urlk-RR1 {
      flex-shrink: 0;
      margin: 0rem 0.3rem 0rem 0.4rem;
      width: calc(100% - 0.7rem);
      height: 4.3492rem;
      display: flex;
      align-items: center;

      .group-388-YkX {
        height: 100%;
        position: relative;
        flex-shrink: 0;
        margin-right: 8.8rem;
        width: 16.5rem;

        .super-deluxed-room-6n3 {
          left: 0;
          font-size: 1.8rem;
          font-weight: 500;
          color: #1b1b1b;
          width: 16.5rem;
          position: absolute;
          line-height: 1.5229999754;
          letter-spacing: -0.036rem;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          height: 2.8rem;
          top: 0;
        }
        .night-pi3 {
          font-weight: 500;
          line-height: 1.5230000814;
          width: 3rem;
          height: 1.9rem;
          position: absolute;
          left: 0;
          top: 2.4492rem;
          font-size: 1.2rem;
          font-family: DM Sans, 'Source Sans Pro';
          text-align: center;
          letter-spacing: -0.024rem;
          color: #f03f6a;
          white-space: nowrap;
        }
      }
      .n55000-8yd {
        font-size: 1.8rem;
        font-weight: 500;
        letter-spacing: -0.036rem;
        color: #0b735f;
        flex-shrink: 0;
        text-align: right;
        line-height: 1.5229999754;
        font-family: DM Sans, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.0407rem;
      }
    }
  }
}
