
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 37.5rem;
}.iphone-11-pro-x-16-TV1 {
  display: flex;
  align-items: center;
  background-color: #f8fbff;
  box-sizing: border-box;
  padding-left: 2rem;
  width: 100%;
  overflow: hidden;
  position: relative;

  .auto-group-went-apX {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0rem 82.1rem 1.5rem 0rem;
    width: 33.5rem;

    .auto-group-vbq3-Vgb {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0rem 0rem 2rem 0.1rem;
      width: 100%;
      align-items: center;

      .auto-group-vrm9-2Aj {
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 1.2rem 2.7rem 9.1rem;
        width: calc(100% - 10.3rem);
        height: 6.3rem;
        display: flex;

        .auto-group-hygf-YPy {
          width: 12.8rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;
          margin-right: 7.7rem;

          .silver-oak-food-park-gWB {
            height: 6.3rem;
            left: 0;
            top: 0;
            font-size: 2.4rem;
            line-height: 1.3025;
            letter-spacing: -0.072rem;
            width: 12.8rem;
            position: absolute;
            font-weight: 700;
            color: #360000;
            font-family: DM Sans, 'Source Sans Pro';
          }
          .silver-oak-food-park-uGT {
            font-weight: 700;
            color: #360000;
            font-family: DM Sans, 'Source Sans Pro';
            left: 0;
            top: 0;
            font-size: 2.4rem;
            line-height: 1.3025;
            letter-spacing: -0.072rem;
            width: 12.8rem;
            height: 6.3rem;
            position: absolute;
          }
          .silver-oak-food-park-1aP {
            height: 6.3rem;
            top: 0;
            letter-spacing: -0.072rem;
            color: #360000;
            font-family: DM Sans, 'Source Sans Pro';
            width: 12.8rem;
            position: absolute;
            left: 0;
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 1.3025;
          }
        }
        .skip-vST {
          white-space: nowrap;
          margin-bottom: 0.3rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.523000036;
          text-decoration-line: underline;
          color: #fa5a1e;
          font-family: Sk-Modernist, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
      .create-an-account-drf {
        font-weight: 700;
        line-height: 1.3025;
        letter-spacing: -0.072rem;
        color: #1b1b1b;
        font-family: DM Sans, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 8.1rem 1.4rem 0rem;
        font-size: 2.4rem;
        flex-shrink: 0;
      }
      .welcome-friend-enter-your-details-so-lets-get-started-in-ordering-food-9a7 {
        max-width: 26.1rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.5;
        color: #3c3c3c;
        font-family: Sk-Modernist, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 0rem 2.7rem 5rem 0rem;
      }
      .form-dkB {
        flex-shrink: 0;
        margin-bottom: 2rem;
        width: 100%;
        display: flex;
        flex-direction: column;

        .title-avK {
          margin: 0rem 0rem 0.9rem 2.3rem;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.3700000445;
          color: #3c3c3c;
          font-family: Sk-Modernist, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .form-JLX {
          padding: 1.5rem 2.3rem;
          color: #a9abae;
          background-color: #ffffff;
          box-sizing: border-box;
          width: 100%;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.3700000218;
          font-family: Sk-Modernist, 'Source Sans Pro';
          white-space: nowrap;
          border: solid 0.1rem #dee2e5;
          border-radius: 1.5rem;
          flex-shrink: 0;
        }
      }
      .form-aYw {
        margin-bottom: 2rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .title-jwd {
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.3700000445;
          color: #3c3c3c;
          font-family: Sk-Modernist, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0rem 0.9rem 2.3rem;
        }
        .form-sH9 {
          font-family: Sk-Modernist, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          padding: 1.5rem 2.3rem;
          width: 100%;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.3700000218;
          box-sizing: border-box;
          color: #a9abae;
          border: solid 0.1rem #dee2e5;
          background-color: #ffffff;
          border-radius: 1.5rem;
        }
      }
      .form-wno {
        flex-direction: column;
        flex-shrink: 0;
        margin-bottom: 8.4rem;
        width: 100%;
        display: flex;

        .title-W5D {
          font-weight: 400;
          line-height: 1.3700000445;
          color: #3c3c3c;
          font-family: Sk-Modernist, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0rem 0.9rem 2.3rem;
          font-size: 1.2rem;
        }
        .form-2ZM {
          font-size: 1.2rem;
          font-weight: 400;
          font-family: Sk-Modernist, 'Source Sans Pro';
          border: solid 0.1rem #dee2e5;
          background-color: #ffffff;
          flex-shrink: 0;
          border-radius: 1.5rem;
          box-sizing: border-box;
          padding: 1.5rem 2.3rem 1.8rem 2.3rem;
          width: 100%;
          line-height: 1.3700000445;
          color: #a9abae;
          white-space: nowrap;
        }
      }
      .signup-with-google-WUX {
        width: calc(100% - 13rem);
        background-color: #ffffff;
        border-radius: 2rem;
        margin: 0 6.5rem;
        box-sizing: border-box;
        padding: 1.3rem 2.85rem 1.3rem 2.4rem;
        height: 5rem;
        box-shadow: 0 2rem 4rem rgba(2, 31, 44, 0.0500000007);
        flex-shrink: 0;

        .group-403-Qpo {
          box-sizing: border-box;
          padding: 0.15rem 0rem 0.05rem 0.15rem;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;

          .google-9XV {
            width: 2.1rem;
            height: 2.1rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 1.7rem 0.1rem 0rem;
          }
          .sign-in-with-google-fkj {
            display: flex;
            font-weight: 400;
            letter-spacing: -0.014rem;
            flex-shrink: 0;
            font-family: Sk-Modernist, 'Source Sans Pro';
            white-space: nowrap;
            align-items: center;
            justify-content: center;
            font-size: 1.4rem;
            line-height: 1.523000036;
            text-decoration-line: underline;
            color: #000000;
          }
        }
      }
    }
    .group-458-Xnw {
      border-radius: 2rem;
      flex-shrink: 0;
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;

      .button-6LF {
        height: 5.1rem;
        text-align: center;
        font-weight: 700;
        letter-spacing: -0.014rem;
        display: flex;
        border-radius: 2rem;
        margin-bottom: 2rem;
        font-size: 1.4rem;
        justify-content: center;
        font-family: Sk-Modernist, 'Source Sans Pro';
        align-items: center;
        box-shadow: 0 1rem 3rem rgba(201, 66, 16, 0.1000000015);
        background: linear-gradient(108.73deg, #f9871f 23.73%, #ff774c 79.34%);
        flex-shrink: 0;
        width: 100%;
        line-height: 1.523000036;
        color: #ffffff;
        white-space: nowrap;
      }
      .button-uYb {
        box-shadow: 0 1rem 3rem rgba(201, 66, 16, 0.1000000015);
        font-weight: 700;
        align-items: center;
        line-height: 1.5;
        letter-spacing: -0.016rem;
        display: flex;
        height: 5.4rem;
        text-align: center;
        justify-content: center;
        border-radius: 2rem;
        width: 100%;
        white-space: nowrap;
        font-family: Sk-Modernist, 'Source Sans Pro';
        flex-shrink: 0;
        font-size: 1.6rem;
        color: #fe554a;
      }
    }
  }
  .job-finder-app-1-AzK {
    vertical-align: top;
    flex-shrink: 0;
    width: 97.4rem;
    height: 409.6rem;
    object-fit: cover;
  }
}
