
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 37.5rem;
}.iphone-11-pro-x-13-qPD {
  box-sizing: border-box;
  padding: 2.1rem 2rem 11rem 2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f7fbff;
}
.iphone-11-pro-x-13-qPD .auto-group-z2cx-AZu {
  margin: 0rem 1rem 1.7rem 10.7rem;
  width: calc(100% - 11.7rem);
  height: 6.3rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.iphone-11-pro-x-13-qPD .auto-group-z2cx-AZu .auto-group-3wnb-pH5 {
  margin-right: 5.9rem;
  width: 12.8rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.iphone-11-pro-x-13-qPD .auto-group-z2cx-AZu .auto-group-3wnb-pH5 .silver-oak-food-park-9KM {
  width: 12.8rem;
  height: 6.3rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.3025;
  letter-spacing: -0.072rem;
  color: #360000;
  font-family: DM Sans, 'Source Sans Pro';
}
.iphone-11-pro-x-13-qPD .auto-group-z2cx-AZu .auto-group-3wnb-pH5 .silver-oak-food-park-D4K {
  width: 12.8rem;
  height: 6.3rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.3025;
  letter-spacing: -0.072rem;
  color: #360000;
  font-family: DM Sans, 'Source Sans Pro';
}
.iphone-11-pro-x-13-qPD .auto-group-z2cx-AZu .auto-group-3wnb-pH5 .silver-oak-food-park-7vP {
  width: 12.8rem;
  height: 6.3rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.3025;
  letter-spacing: -0.072rem;
  color: #360000;
  font-family: DM Sans, 'Source Sans Pro';
}
.iphone-11-pro-x-13-qPD .auto-group-z2cx-AZu .skip-EEK {
  margin-top: 0.9rem;
  text-align: right;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #fa5a1e;
  font-family: Sk-Modernist, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-11-pro-x-13-qPD .choose-from-a-wide-range-of-delicious-meals-XUK {
  margin: 0rem 0.1rem 4.5rem 0rem;
  max-width: 28.8rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.3025;
  letter-spacing: -0.072rem;
  color: #1b1b1b;
  font-family: DM Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.iphone-11-pro-x-13-qPD .group-389-Q2K {
  margin: 0rem 0rem 4.5rem 0rem;
  width: calc(100% - 0rem);
  height: 26.7165rem;
  position: relative;
  flex-shrink: 0;
}
.iphone-11-pro-x-13-qPD .group-389-Q2K .ellipse-5-7hR {
  width: 8.9751rem;
  height: 8.8707rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.iphone-11-pro-x-13-qPD .group-389-Q2K .ellipse-12-3b5 {
  width: 17.2rem;
  height: 17.2rem;
  position: absolute;
  left: 7.9rem;
  top: 9.2rem;
  filter: blur(4rem);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-12-bg.png');
  border-radius: 8.6rem;
}
.iphone-11-pro-x-13-qPD .group-389-Q2K .ellipse-6-jTu {
  width: 17.1153rem;
  height: 17.0109rem;
  position: absolute;
  left: 7.9315rem;
  top: 6.9922rem;
  object-fit: contain;
  vertical-align: top;
}
.iphone-11-pro-x-13-qPD .group-389-Q2K .ellipse-7-4WB {
  width: 7.8271rem;
  height: 7.8271rem;
  position: absolute;
  left: 23.8988rem;
  top: 0.5218rem;
  background-color: #c4c4c4;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-7-bg.png');
  border-radius: 3.9136rem;
}
.iphone-11-pro-x-13-qPD .group-389-Q2K .ellipse-8-xLf {
  width: 5.2181rem;
  height: 5.2181rem;
  position: absolute;
  left: 2.1916rem;
  top: 15.8629rem;
  background-color: #c4c4c4;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-8-bg.png');
  border-radius: 2.609rem;
}
.iphone-11-pro-x-13-qPD .group-389-Q2K .ellipse-10-Gs9 {
  width: 4.0701rem;
  height: 4.1745rem;
  position: absolute;
  left: 13.3583rem;
  top: 0.9392rem;
  object-fit: contain;
  vertical-align: top;
}
.iphone-11-pro-x-13-qPD .group-389-Q2K .ellipse-11-QTZ {
  width: 2.7134rem;
  height: 2.7134rem;
  position: absolute;
  left: 7.4097rem;
  top: 24.0031rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-11-bg.png');
  border-radius: 1.3567rem;
}
.iphone-11-pro-x-13-qPD .group-389-Q2K .ellipse-9-uQK {
  width: 6.7835rem;
  height: 6.7835rem;
  position: absolute;
  left: 26.7165rem;
  top: 16.3847rem;
  background-color: #c4c4c4;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-9-bg.png');
  border-radius: 3.3917rem;
}
.iphone-11-pro-x-13-qPD .group-2-DR1 {
  margin: 0rem 0rem 4.783rem 0.1rem;
  width: 4.8rem;
  height: 0.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-11-pro-x-13-qPD .group-458-93m {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  flex-shrink: 0;
}
.iphone-11-pro-x-13-qPD .group-458-93m .button-hLB {
  margin-bottom: 2rem;
  width: 100%;
  height: 5.1rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.523000036;
  letter-spacing: -0.014rem;
  color: #ffffff;
  font-family: Sk-Modernist, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1rem 3rem rgba(201, 66, 16, 0.1000000015);
  background: linear-gradient(108.73deg, #f9871f 23.73%, #ff774c 79.34%);
  border-radius: 2rem;
  flex-shrink: 0;
}
.iphone-11-pro-x-13-qPD .group-458-93m .button-W2j {
  width: 100%;
  height: 5.4rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #fe554a;
  font-family: Sk-Modernist, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1rem 3rem rgba(201, 66, 16, 0.1000000015);
  border-radius: 2rem;
  flex-shrink: 0;
}
