
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 37.5rem;
}.iphone-11-pro-x-14-2s1 {
  box-sizing: border-box;
  padding: 1.6rem 1.8rem 11rem 1.9rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f7fbff;
}
.iphone-11-pro-x-14-2s1 .auto-group-wumu-jFd {
  margin: 0rem 1.2rem 2.2rem 9.8rem;
  width: calc(100% - 11rem);
  height: 6.3rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.iphone-11-pro-x-14-2s1 .auto-group-wumu-jFd .auto-group-icdd-rLF {
  margin-right: 6.9rem;
  width: 12.8rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.iphone-11-pro-x-14-2s1 .auto-group-wumu-jFd .auto-group-icdd-rLF .silver-oak-food-park-CQ7 {
  width: 12.8rem;
  height: 6.3rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.3025;
  letter-spacing: -0.072rem;
  color: #360000;
  font-family: DM Sans, 'Source Sans Pro';
}
.iphone-11-pro-x-14-2s1 .auto-group-wumu-jFd .auto-group-icdd-rLF .silver-oak-food-park-VPD {
  width: 12.8rem;
  height: 6.3rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.3025;
  letter-spacing: -0.072rem;
  color: #360000;
  font-family: DM Sans, 'Source Sans Pro';
}
.iphone-11-pro-x-14-2s1 .auto-group-wumu-jFd .auto-group-icdd-rLF .silver-oak-food-park-oeo {
  width: 12.8rem;
  height: 6.3rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.3025;
  letter-spacing: -0.072rem;
  color: #360000;
  font-family: DM Sans, 'Source Sans Pro';
}
.iphone-11-pro-x-14-2s1 .auto-group-wumu-jFd .skip-tw9 {
  margin-bottom: 1.5rem;
  text-align: right;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #fa5a1e;
  font-family: Sk-Modernist, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-11-pro-x-14-2s1 .order-from-your-favourite-stores-or-vendors-1ks {
  margin: 0rem 0.1rem 1.4rem 0rem;
  max-width: 19.3rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.3025;
  letter-spacing: -0.072rem;
  color: #1b1b1b;
  font-family: DM Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.iphone-11-pro-x-14-2s1 .group-391-tpf {
  margin-bottom: 4.5rem;
  width: 100%;
  height: 25.5rem;
  background: linear-gradient(360deg, #f8fbff 2.55%, rgba(255, 255, 255, 0) 17.65%);
  background-size: 100% 131.765%;
  background-position: -0rem 0;
  background-image: url('../assets/group-391-bg.png');
  flex-shrink: 0;
}
.iphone-11-pro-x-14-2s1 .group-391-tpf .group-391-tpf-bg {
  width: 33.8rem;
  height: 25.5rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:1faf9b54f4f46ced118c71114d627384c0eddb92');
}
.iphone-11-pro-x-14-2s1 .group-2-jqH {
  margin-bottom: 6rem;
  width: 4.8rem;
  height: 0.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-11-pro-x-14-2s1 .group-458-Uns {
  margin: 0rem 0.2rem 0rem 0.1rem;
  width: calc(100% - 0.3rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  flex-shrink: 0;
}
.iphone-11-pro-x-14-2s1 .group-458-Uns .button-QgX {
  margin-bottom: 2rem;
  width: 100%;
  height: 5.1rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.523000036;
  letter-spacing: -0.014rem;
  color: #ffffff;
  font-family: Sk-Modernist, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1rem 3rem rgba(201, 66, 16, 0.1000000015);
  background: linear-gradient(108.73deg, #f9871f 23.73%, #ff774c 79.34%);
  border-radius: 2rem;
  flex-shrink: 0;
}
.iphone-11-pro-x-14-2s1 .group-458-Uns .button-3Ub {
  width: 100%;
  height: 5.4rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #fe554a;
  font-family: Sk-Modernist, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1rem 3rem rgba(201, 66, 16, 0.1000000015);
  border-radius: 2rem;
  flex-shrink: 0;
}
